
@media only screen and (max-width: 1200px) {
  .herotxt {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .app-screen { width: 50%; }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .steps-box { margin-top: 10px; }
  .steps-box:last-child { margin-top: 10px; }
  .works-step { margin-bottom: 40px; }
  .works-step:last-of-type { margin-bottom: 40px; }
  .icon-small {
    width: 20px;
  }
  .city-feature {
    font-size: 90%;
  }
  .plan-box {
    width: 100%;
    margin-left: 0%;
  }
  .plan-price {
    font-size: 250%;
  }
  .contact-form {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {

.main-nav {
  display: none;
}
.mobicon {
  display: inline-block;
}
.main-nav {
  float: left;
  margin-top: 35px;
  margin-left: 25px;
}
.main-nav li {
  display: block;
}
.main-nav li a:link, .main-nav li a:visited {
  display: block;
  border: 0;
  padding: 10px 0;
  font-size: 100%;
}
.sticky .main-nav {
  margin-top: 10px;
}
.sticky .main-nav li a:link, .sticky .main-nav li a:visited {
  padding: 10px 0;
}
.sticky .mobicon {
  margin-top: 10px;
}
.sticky .mobicon i {
  color: #555;
}

}

@media only screen and (max-width: 480px) {


}
